{
    "handle_server_url": "https://epic5.storage.surfsara.nl:8003",
    "private_key": "/etc/irods/308_21.T12995_TRAINING_privkey.pem",
    "certificate_only": "/etc/irods/308_21.T12995_TRAINING_certificate_only.pem",
    "prefix": "21.T12995",
    "handleowner": "200:0.NA/21.T12995",
    "reverselookup_username": "21.T12995",
    "reverselookup_password": "",
    "HTTPS_verify": "False"
}
