#directory of the iRODS installation
IRODS_DIR: /var/lib/irods/iRODS

#directory of the iRODS configuration files
IRODS_CONF_DIR: /etc/irods

#directory of the source module downloaded from git
SOURCE_DIR: /path/B2SAFE-core

#directory of iRODS module configuration files
CONF_DIR: /path/b2safe-core

#default iRODS resource
DEFAULT_RESOURCE: demoResc

#where the credential file for EPIC is stored: "os" or irods"
CRED_STORE_TYPE: os

#path to the credentials file for EPIC
CRED_FILE_PATH: /path/b2safe-core/credentials

#iRODS server id in the form <protocol>://<server_name>:<irods_port> 
SERVER_ID: irods://server.id:1247

#base URI of the EPIC system where the Handle prefix is stored
BASE_URI: https://epic3.storage.surfsara.nl/v2_test/handles/

#a username for the prefix
USERNAME: xxxx

#Handle prefix
PREFIX: xxxx

#irods users which are allowed to create handles in the prefix
# in the form <user>#<irods_zone>
USERS: *

#log level of the B2SAFE module
LOG_LEVEL: DEBUG

#directory of the B2SAFE log files
LOG_DIR: /path/b2safe-core

#shared iRODS collection to store command files
#it should be accessible for iRODS users mentioned above
SHARED_SPACE: /TestZone/replicate
