IRODS_DIR: /srv/iRODS
TRUNK: /srv/trunk
B2SAFE_MODULE_DIR: /srv/iRODS/modules/B2SAFE
DEFAULT_RESOURCE: someResc
CRED_STORE_TYPE: os
CRED_FILE_PATH: /srv/iRODS/modules/B2SAFE/conf/credentials
SERVER_ID: irods://server.id:1247
BASE_URI: https://handle.server.id/epic_v2/handles/
USERNAME: 11111
PREFIX: 11111
USERS: user0#Zone0 user1#Zone1
LOG_LEVEL: DEBUG
LOG_DIR: /srv/iRODS/modules/B2SAFE/log
SHARED_SPACE: /Zone0/replicate

