#directory of the iRODS installation
IRODS_DIR: /srv/iRODS

#directory of the source module downloaded from git
SOURCE_DIR: /srv/trunk

#directory of iRODS modules
B2SAFE_MODULE_DIR: /srv/iRODS/modules/B2SAFE

#default iRODS resource
DEFAULT_RESOURCE: someResc

#where the credential file for EPIC is stored: "os" or irods"
CRED_STORE_TYPE: os

#path to the credentials file for EPIC
CRED_FILE_PATH: /srv/iRODS/modules/B2SAFE/conf/credentials

#iRODS server id in the form <protocol>://<server_name>:<irods_port> 
SERVER_ID: irods://server.id:1247

#base URI of the EPIC system where the Handle prefix is stored
BASE_URI: https://handle.server.id/epic_v2/handles/

#a username for the prefix
USERNAME: 11111

#Handle prefix
PREFIX: 11111

#irods users which are allowed to create handles in the prefix
# in the form <user>#<irods_zone>
USERS: user0#Zone0 user1#Zone1

#log level of the B2SAFE module
LOG_LEVEL: DEBUG

#directory of the B2SAFE log files
LOG_DIR: /srv/iRODS/modules/B2SAFE/log

#shared iRODS collection to store command files
#it should be accessible for iRODS users mentioned above
SHARED_SPACE: /Zone0/replicate

