#directory of the iRODS installation
#for irods3 it is, typically, /home/user/iRODS
#for irods4 it is, typically, /var/lib/irods/iRODS
IRODS_DIR: /var/lib/irods/iRODS

#directory of the iRODS configuration files
#for irods3 it is, typically, /home/user/iRODS/server/config/reConfigs 
#for irods4 it is, typically, /etc/irods
IRODS_CONF_DIR: /etc/irods

#directory of the iRODS server configuration file (server.config)
#for irods3 it is, typically, /home/user/iRODS/server/config 
#for irods4 it is, typically, /etc/irods
IRODS_SERVER_CONF_DIR: /etc/irods

#directory of the source package downloaded via git
SOURCE_DIR: /var/lib/irods/B2SAFE-core

#directory of iRODS module configuration files
#for irods3 it is, typically, /home/user/b2safe-core
#for irods4 it is, typically, /etc/irods/b2safe-core
CONF_DIR: /etc/irods/b2safe-core

#default iRODS resource
DEFAULT_RESOURCE: demoResc

#where the credential file for EPIC is stored: "os" or "irods"
CRED_STORE_TYPE: os

#path to the credentials file for EPIC
#for irods3 it is, typically, /home/user/b2safe-core/credentials
#for irods4 it is, typically, /etc/irods/b2safe-core/credentials
CRED_FILE_PATH: /etc/irods/b2safe-core/credentials

#iRODS server id in the form <protocol>://<server_name>:<irods_port> 
SERVER_ID: irods://server.id:1247

#base URI of the EPIC system where the Handle prefix is stored
BASE_URI: https://epic3.storage.surfsara.nl/v2_test/handles/

#a username for the prefix
USERNAME: XXX

#Handle prefix
PREFIX: XXX

#irods users which are allowed to create handles in the prefix
# in the form <user>#<irods_zone>
USERS: *

#log level of the B2SAFE module: INFO or DEBUG
LOG_LEVEL: DEBUG

#directory of the B2SAFE log files
#for irods3 it is, typically, /home/user/b2safe-core/log
#for irods4 it is, typically, /etc/irods/b2safe-core/log
LOG_DIR: /etc/irods/b2safe-core/log
